/* External SCSS resources */
@import './../bower_components/font-awesome/scss/font-awesome';
/* End (External SCSS resources) */


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Muli);
/* End Fonts */



/*!
 * -------------
 * Custom styles
 */
$mainScreenImg: '../images/b.jpg';
$mainScreenImgWidth: 1920; // without 'px'!
$mainScreenImgHeight: 1200; // without 'px'!

$jQueryPNG: '../images/jQueryUiImages/ui-icons_888888_256x240.png';

// In the following, please stay in line with bootstrap!
$bodyBackground: #ecf5ea;
$textColor: #333;
$primaryColor: #194582;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$button-hover-color: #f5f5f5;

body{
  @media (min-width: $screen-sm) {
    overflow-y: hidden;
  }
}

.full-screen-box {
  margin:0;
  padding:0;
  background-color: black !important;
  min-height: 90vh;
}

.part-screen-box {
  margin:0;
  padding:0;
  min-height: 70vh;
}

.full-screen-box-bg {
  background: url($mainScreenImg) no-repeat center center;
  @media (min-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: 100vw auto;
  }
  @media (max-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: auto 100vh;
  }
}

.container-fluid {
  padding: 0;
}

.header-box {
  margin:0;
  padding:0;
  height: 20vh;
  min-height: 125px;
}

.header-box-bg {
  background-repeat: no-repeat;
  background-position: center center;
  @media (min-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: 100vw auto;
  }
}

.navbar {
  background: rgba(black, 0.5);
  padding-left: 10px;
  z-index: 1000;
}

.main {
  min-height: calc(100vh - 120px);
}

footer {
  text-align: center;
  background: #666;
  color: #fff;
  font-size: 10pt;
  height: 10vh;
  padding-top: 1.5vh;
}
.btn-right {
  margin-right: 0;
  margin-left: 7.5px;
}
#introVideo{
  width: 100%;
  height: calc(315px * 1.2);
  position: relative;
  //left: calc(50% - (560px*1.2/2));
  top: 150px;
}
.obox {
  margin-top: 160px;
  width: 80%;
  //margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

.sbox {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Muli';
  font-size: 15pt;
  line-height: 40px;
  display: inline-block;
  margin: 20px 30px 20px 0;
  transition: .5s ease;
  cursor: pointer;
}
// change hover style
.sbox:hover {
  transform: scale(1.1);
  transition: .5s ease;
}
.btn {
  border-radius: 0;
  transition: .5s ease;
}
.btn:hover {
  transition: .5s ease;
}
.btn.btn-start {
  background-color: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.8);
}
.btn.btn-start:hover {
  background-color: rgba(255,255,255,0.4);
  color: white;
  border: 1px solid rgba(255,255,255,0.9);
}
.navbar-brand {
  transition: .5s ease;
}
.navbar-brand:hover {
  transition: .5s ease;
}
.navbar-header {
  width: 100%;
  margin-left: 5px;
}
#navbar-right-btn{
  @media (min-width: $screen-sm) {
    margin-right: 12.5px;
  };
}
.lm-content {
  padding: 0 0 0 15px;
  min-height: 70vh;
  @media (max-width: $screen-sm) {
    padding: 10px 0 10px 0;
  };
  background-color: white;
}
.lm-content-90 {
  @media (min-width: $screen-xs) {
    padding: 25px 25px 25px 25px;
  };
  @media (min-width: $screen-sm) {
    padding: 35px 25px 35px 25px;
  };
  @media (min-width: $screen-md) {
    margin: 0 auto 0;
    width: 90vw;
  }
}

.lm-content-90 > .row {
  margin: 0;
}
.topline{
  font-family: inherit;
  font-size: 30px;
  text-align: center;
  padding: 20px 0 20px 0;
}
#browsemap{
  height: 62vh;
  width: 100%;
}
#modalMap{
  height: 400px;
  width: 100%;
  @media (max-width: $screen-sm){
    height: 300px !important;
  }
}
#createMap{
  height: 60vh;
  width: 100%;
}
.right {
  float: right;
}
.right.filter {
  margin-top: 10px;
}
.right.filter.leftone {
  margin-right: 20px;
}
.ui-icon {
  background-image: url($jQueryPNG) !important;
}
.requin > .form-control{
  margin-top:5px;
}
.header-box-font {
  color: white;
  text-align: center;
  padding-top: 7vh;
  font-size: 7vh;
  font-family: Muli;
  text-shadow: 2px 2px 5px #333;
  @media (max-width: 340px) {
    font-size: 33px;
    padding-top: 50px;
  }
  @media (max-height: 600px) {
    padding-top: 55px;
  }
}

.requestContainer{
  margin-right: 5px;
}
.requestContainer table {
  margin-top: 10px;
}
.requestContainer .tf {
  padding-right: 30px;
}
.requestContainer span {
  font-weight: bold;
  font-size: 20px;
}
.requestContainer img {
  width:100%;
}
.requestContainer .row {
  margin: 0;
}

.bottomR{
  right: 0;
  position: absolute;
  @media (min-width: $screen-sm) {
    bottom: 0;
  }
  @media (max-width: $screen-sm) {
    bottom: 5px;
    position: fixed;
  }
}

#brRequests{
  margin-left: 0;
  margin-right: 0;
  @media (min-width: $screen-sm) {
  height: 57vh;
  overflow-y: auto;
  }
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

#showDetails .modal-dialog {
  @media (max-width: $screen-xs) {
    width: 90vw;
  };

  @media (min-width: $screen-sm) {
    width: 75vw;
  };
  @media (min-width: $screen-md) {
    width: 55vw;
  };
  @media (min-width: $screen-lg) {
    width: 45vw;
  };
}
#showDetails .modal-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#showDetails .modal-body {
  @media (min-width: $screen-sm) {
    height:70vh;
  };
}
#showDetails table{
  margin-left: 15px;
}
#showDetails .tf{
  padding: 0 30px 4px 0;
}
#showDetails img {
  width: 100%;
  @media (min-width: $screen-md) {
    width: 75%;
  };

  margin-left: auto;
  margin-right: auto;
  display: block;
}
#showDetails .requestDetailPic {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 180px;
}
#showDetails .tabHead {
  font-weight: bold;
  font-size: 17px;
}
#showDetails .tabTable {
  margin-left: 0;
  width: 100%;
  height: 100%;
}
#showDetails .tabTable td {
  padding: 15px 0 0 15px;
  vertical-align: top;
}
button.btn.btn-primary.accept {
  width: 100%;
}
#showDetails #tableDiv {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 15px;
  height: 300px;
}

.input-label {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.req-input-label {
  @media (max-width: $screen-sm) {
    margin-bottom: 6.5px;
  };
}

#crRequest{
  @media (min-width: $screen-sm) {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  };
}
#crRequest > .row{
  margin-top: 5px;
}
.reqSmall{
  padding: 20px 10px 20px 10px;
  margin-bottom: 15px;
}
.reqSmall.Haggled {
  border: 1px solid #409ecf;
  background: linear-gradient(to right,#fff,#409ecf);
}
.reqSmall.AcceptAndHaggled {
  border: 1px solid #409ecf;
  background: linear-gradient(to right,#fff,#409ecf);
}
.reqSmall.AcceptOffer {
  border: 1px solid #409ecf;
  background: linear-gradient(to right,#fff,#409ecf);
}
.reqSmall.Accepted {
  border: 1px solid #6acf65;
  background: linear-gradient(to right,#fff,#6acf65);
}
.reqSmall.Expired {
  border: 1px solid #ec372d;
  background: linear-gradient(to right,#fff,#ec372d);
}
.reqSmall.Delivered {
  border: 1px solid #b6b6b6;
  background: linear-gradient(to right,#fff,#b6b6b6);
}
.reqSmall.Open {
  border: 1px solid #ffff48;
  background: linear-gradient(to right,#fff, #ffff48);
}
.reqSmall span {
  font-weight: bold;
  font-size: 20px;
}
.reqSmall .tf {
  padding-right: 30px;
}
.reqSmall .btn-blanc {
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  color: #fff;
}
.reqSmall .btn-blanc:hover {
  background-color: rgba(0,0,0,0.1);
}
.reqSmall .dropdown-menu{
  width: 100%;
}
.reqSmall .dropdown-toggle{
  background-color: rgba(0,0,0,0.1);
}
.reqSmall .reqStatusMenu{
  text-align: center;
}
//accordion styling
.form-control{
  font-family: Muli !important;
  font-size: inherit !important;
}
.ui-widget{
  font-family: Muli !important;
  font-size: 1em !important;
}
.ui-corner-top {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.ui-accordion-header {
  font-size: 17px !important;
}
.ui-state-default {
  transition: .5s ease;
  //background-color: #194582;
  //border-color: darken(#194582, 5%);
}
.ui-state-default:hover {
  transition: .5s ease;
  //background-color: #112e57;
  //border-color: #0b1e39;
}
.ui-state-active {
  background-color: #194582 !important;
  color: #fff !important;
}

#createInput {
  @media (max-width: $screen-sm) {
    margin-bottom: 15px;
  }
  @media (min-width: $screen-sm) {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
;
}

.imageDragover {
  border: 5px dashed blue;
}

#browseContent {

  @media (max-width: $screen-sm) {
    margin-top: 20px;
  }
  @media (min-width: $screen-sm) {
    height: 62vh;
  };
}

#accordionContainer {
  @media (max-width: $screen-sm) {
    padding: 15px 15px 0 15px;
    overflow-x: hidden;
  };
  @media (min-width: $screen-sm) {
    padding: 0 20px;
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
  };
}

.createRow {
  @media (max-width: $screen-sm) {
    margin-left: 0;
    margin-right: 0;
  };
}

.form-control-feedback {
  right: 17px !important;
}

.chatbox {
  width: 100%;
  height: 150px;
  border: 1px solid lightgrey;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

.event-box-140 {
  float: left;
  width: 140px;
}

.event-box-60 {
  float: left;
  width: 60px;
  overflow-x: hidden;
}

.chat-headline {
  height: 41px;
  line-height: 41px;
  margin-bottom: 2px;
}

.event-box-entry{
  padding: 1px 5px 1px 5px;
}

.event-box-entry:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.event-box-info-text {
  color: #a6a6a6;
  font-size: 9pt;
  white-space: nowrap;
  float: right;
}

.chat-input {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: calc(100% - 40px);
  height: 35px;
  line-height: 35px;
}

.chat-button {
  //float: left;
  margin-top: 5px;
  width: 35px;
  height: 35px;
}

#filterDiv {
  @media (min-width: $screen-sm) {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
  }
}

li > a {
  cursor: pointer;
}

#hagglePriceInput {
  width: calc(100% - 80px);
  margin-top: 5px;
}
.thumbnail {
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.thumbnail > img {
  max-height:250px;
}

#userPicture {
  max-height: 235px;
}

#userPic .thumbnail {
  margin-bottom: 0;
}
.pic2{
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
}

#notificationBtn {
  background-color: transparent;
  border: 1px;
  color: white;
}
#notificationBtn:hover {
  color: #e6e6e6;
  background-color: transparent;
  transition: .5s ease;
}
.badge {
  background-color: #ec372d !important;
}
#notificationContainer {
  max-width: 400px;
  top: 49px;
  display: block;
  left: auto;
  right: 86px;
  position: fixed;
  background-color: rgba(0,0,0,0.85);
  color: white;
  z-index: 1000;
  border: 1px solid rgba(75,75,75,0.85);
}
#notificationTopline {
  font-weight: 600;
  font-size: 16px;
  background-color: black;
  padding: 10px;
}
#notifications {
  max-height: calc(400px - 42.85px);
  overflow-y: auto;
}
#notifications > ul {
  list-style: none;
  padding: 0;
}
#notifications li{
  padding: 7.5px 0 7.5px 15px;
}
#notifications li:not(:last-child) {
  border-bottom: 1px solid rgba(100, 100, 100, 0.85);
}
.inNotificationContainer.ng-scope:hover {
  background-color: lighten(rgba(0,0,0,0.85), 20%);
  transition: .5s ease;
}
.singleNotification {
  display: inline-block;
  width: 88%;
}
.singleNotification > a {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}
.notivHighlight {
  color: rgba(200,200,200,0.85);
}
#notificationContainer .glyphicon {
  cursor: pointer;
}
#notificationContainer .glyphicon:hover {
    transform: scale(1.1);
    transition: .5s ease;
}
.pointer {
  border: 10px solid transparent;
  border-bottom-color: #333333;
  border-top-width: 0;
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  z-index: 5000;
  right: 13px;
}
#showOffers {
  padding-right: 0 !important;
}
#showOffers .tFirst{
  padding-right: 15px;
}
#showOffers table {
  margin-bottom: 15px;
}
#showOffers .btn {
  width: 100%;
}
.ratingHeader {
  font-size: 120%;
  font-weight: bold;
}
.rating {
  margin-top: 10px;
}
.myDiv {
  padding: 0 20px 0 20px;
  @media (min-width: $screen-sm) {
    height: 62vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
#chatHeader {
  @media (max-width: $screen-sm) {
    margin-top: 15px;
  }
}
#requestersGlyph {
  float: right;
  right: 55px;
  cursor: pointer;
}
/*
a{
  font-family: Muli;
  color: #fff;
  font-size: 19px;
  line-height: 21px;
  height: 50px;
  padding: 14.5px 15px;
}
a:hover{
  color: #e6e6e6;
  text-decoration: none;
} */