/* External SCSS resources */
@import './../bower_components/font-awesome/scss/font-awesome';
/* End (External SCSS resources) */


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Muli);
/* End Fonts */



/*!
 * -------------
 * Custom styles
 */
$mainScreenImg: '../images/d.jpg';
$mainScreenImgWidth: 2560; // without 'px'!
$mainScreenImgHeight: 1600; // without 'px'!

$jQueryPNG: '../images/jQueryUiImages/ui-icons_888888_256x240.png';

// In the following, please stay in line with bootstrap!
$bodyBackground: #ecf5ea;
$textColor: #333;
$primaryColor: #194582;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$button-hover-color: #f5f5f5;


.full-screen-box {
  margin:0;
  padding:0;
  @media (min-width: $screen-sm) {
    min-height: 100vh;
  };
  @media (max-width: $screen-sm) {
    min-height: 50vh;
  };
}

.full-screen-box-bg {
  background: url($mainScreenImg) no-repeat center center;
  @media (min-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: 100vw auto;
  }
  @media (max-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: auto 100vh;
  }
}

.container-fluid {
  padding: 0;
}

.header-box {
  margin:0;
  padding:0;
  @media (min-width: $screen-sm) {
    min-height: 35vh;
  };
  @media (max-width: $screen-sm) {
    min-height: 50vh;
  };
}

.header-box-bg {
  background-repeat: no-repeat;
  background-position: center center;
  @media (min-aspect-ratio: $mainScreenImgWidth+'/'+$mainScreenImgHeight) {
    background-size: 100vw auto;
  }
}

.navbar {
  background: rgba(black, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  min-height: calc(100vh - 120px);
}

footer {
  text-align: center;
  background: #666;
  color: #fff;
  font-size: 10pt;
  height: 120px;
  padding-top: 20px;
}
.btn-right {
  margin-right: 0px;
  margin-left: 7.5px;
}
#introVideo{
  width: calc(560px * 1.2);
  height: calc(315px * 1.2);
  position: relative;
  left: calc(50% - (560px*1.2/2));
  top: 130px;
}
.obox {
  margin-top: 160px;
  width: 80%;
  //margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

.sbox {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Muli';
  font-size: 15pt;
  line-height: 40px;
  margin: 20px 0px 20px 0px;
  background-color: rgba(17,46,87,0.85);
  transition: .5s ease;
  cursor: pointer;
}


// change hover style
.sbox:hover {
  background-color: rgb(17,46,87);
  transition: .5s ease;
}
.btn {
  border-radius: 0px;
  transition: .5s ease;
}
.btn:hover {
  transition: .5s ease;
}
.navbar-brand {
  transition: .5s ease;
}
.navbar-brand:hover {
  transition: .5s ease;
}
.cwf-content {
  padding: 0px 0px 0px 15px;
  background-color: white;
}
.cwf-content-90 {
  @media (min-width: $screen-lg) {
    width: 90vw;
    margin: 80px auto 0 auto;
  }
}
.cwf-content-90 > .row {
  margin: 0px;
}
.topline{
  font-family: inherit;
  font-size: 30px;
  text-align: center;
}
#browsemap{
  height: 600px;
  width: 100%;
}
.right {
  float: right;
}
.right.filter {
  margin-top: 10px;
}
.right.filter.leftone {
  margin-right: 20px;
}
.ui-icon {
  background-image: url($jQueryPNG) !important;
}
.requin > .form-control{
  margin-top:5px;
}
/*
a{
  font-family: Muli;
  color: #fff;
  font-size: 19px;
  line-height: 21px;
  height: 50px;
  padding: 14.5px 15px;
}
a:hover{
  color: #e6e6e6;
  text-decoration: none;
} */