<div ng-controller="RegisterCtrl as reg">
    <div class="full-screen-box full-screen-box-bg">

        <div class="modal fade" id="showRegistration" role="dialog">
            <form name="step1" ng-submit="reg.register()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    ng-click="clearInput()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registration</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3 input-label">
                                    First Name:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': !step1.firstname.$valid && !step1.firstname.$pristine}">
                                        <input type="text" class="form-control" name="firstname" id="firstname"
                                               ng-model="reg.firstName"
                                               uib-popover="{{(step1.firstname.$invalid && step1.firstname.$pristine) || (step1.firstname.$valid) ? '' : 'Please enter your first name.'}}"
                                               popover-placement="top" popover-trigger="focus"
                                               placeholder="First Name" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-show="step1.firstname.$invalid && !step1.firstname.$pristine"></span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              style="color:green"
                                              ng-show="step1.firstname.$valid"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 input-label">
                                    Last Name:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': !step1.lastname.$valid && !step1.lastname.$pristine}">
                                        <input type="text" class="form-control" name="lastname" id="lastname"
                                               uib-popover="{{(step1.lastname.$invalid && step1.lastname.$pristine) || (step1.lastname.$valid) ? '' : 'Please enter your last name.'}}"
                                               popover-placement="top" popover-trigger="focus"
                                               ng-model="reg.lastName" placeholder="First Name" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-show="step1.lastname.$invalid && !step1.lastname.$pristine"></span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              style="color:green"
                                              ng-show="step1.lastname.$valid"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 input-label">
                                    Email address:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': !step1.email.$valid && !step1.email.$pristine}">
                                        <input type="email" name="email_fake" id="email_fake" value="" style="display:none;" />
                                        <input type="email" class="form-control" ng-model="reg.email"
                                               placeholder="Email address" name="email" id="email"
                                               uib-popover="{{(step1.email.$invalid && step1.email.$pristine) || (step1.email.$valid) ? '' : 'Please enter your email address.'}}"
                                               popover-placement="top" popover-trigger="focus" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-show="step1.email.$invalid && !step1.email.$pristine"></span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              style="color:green"
                                              ng-show="step1.email.$valid"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 input-label">
                                    Password:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': !step1.pwd.$valid && !step1.pwd.$pristine}" >
                                        <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />
                                        <input type="password" class="form-control" id="password" name="pwd" ng-model="reg.password"
                                               uib-popover="{{(step1.pwd.$invalid && step1.pwd.$pristine) || (step1.pwd.$valid) ? '' : 'Please enter a password.'}}"
                                               popover-placement="top"
                                               popover-trigger="focus"
                                               placeholder="Password" required/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              ng-show="step1.pwd.$invalid && !step1.pwd.$pristine"></span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              style="color:green" ng-show="step1.pwd.$valid"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': !step1.pwdConfirm.$valid && !step1.pwdConfirm.$pristine}">
                                        <input type="password" name="passwordConfirm_fake" id="passwordConfirm_fake" value="" style="display:none;" />
                                        <input type="password" class="form-control" name="pwdConfirm"
                                               id="passwordConfirm" ng-model="password"
                                               uib-popover="{{(step1.pwdConfirm.$invalid && step1.pwdConfirm.$pristine) || (step1.pwdConfirm.$valid) ? '' : 'Must match the previous entry.'}}"
                                               popover-placement="top"
                                               popover-trigger="focus" placeholder="Repeat password" required
                                               compare-to="reg.password"/>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"
                                              ng-show="step1.pwdConfirm.$invalid && !step1.pwdConfirm.$pristine"></span>
                                        <span class="glyphicon glyphicon-ok form-control-feedback"
                                              aria-hidden="true" style="color:green"
                                              ng-show="step1.pwdConfirm.$valid"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="reg.clearInput()">Close
                            </button>
                            <button type="submit" class="btn btn-primary" class="close"
                                ng-disabled="step1.$invalid" uib-popover="{{errorText}}"
                                popover-placement="bottom" popover-trigger="click">
                                Create account
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </form>
        </div>

        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                <iframe id="introVideo" src="https://www.youtube.com/embed/7YdYETF7nIk" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <!--
        <div class="row">
            <button class="btn btn-primary" style="margin-top:100px" ng-hide="loggedIn" data-toggle="modal" data-target="#showRegistration">
                Register
            </button>
        </div>
        -->
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="obox">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-2 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4
                         col-xs-offset-1 col-xs-5" ng-hide="loggedIn">
                        <div class="sbox" data-toggle="modal" data-target="#showRegistration">
                            <p><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></p>
                            <button class="btn btn-start">Create account</button>
                        </div>
                    </div>
                    <a href="/create" ng-show="loggedIn">
                        <div class="col-lg-offset-4 col-lg-2 col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4
                         col-xs-offset-1 col-xs-5">
                            <div class="sbox">
                                <p><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></p>
                                <button class="btn btn-start">Create a request</button>
                            </div>
                        </div>
                    </a>
                    <a href="/browse">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                            <div class="sbox">
                                <p><i class="fa fa-search fa-3x" aria-hidden="true"></i></p>
                                <button class="btn btn-start">Browse requests</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
