<div ng-controller="RegisterCtrl as user">
    <div class="full-screen-box full-screen-box-bg">

        <div class="modal fade" id="showRegistration" tabindex="-1" role="dialog">
            <form name="step1" ng-submit="user.register()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    ng-click="clearInput()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registration</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    First Name:
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name"
                                               name="firstName"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    Last Name:
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name"
                                               name="lastName"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    Email address:
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.email" placeholder="Email address"
                                               name="email"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    Password:
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group has-feedback">
                                        <div ng-class="{'has-error': errorText}" style="display: inline">
                                            <input type="password" class="form-control" ng-model="user.password" placeholder="Password"
                                                   name="pass"
                                                   style="opacity:0.9" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="user.clearInput()">Close</button>
                            <button type="submit" class="btn btn-primary" class="close">
                                    <!--ng-disabled="logIn.$invalid" uib-popover="{{errorText}}"
                                    popover-placement="bottom" popover-trigger="click"
                                    -->Create account
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </form>
        </div>

        <div class="row">
            <iframe id="introVideo" src="https://www.youtube.com/embed/7YdYETF7nIk" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <!--
        <div class="row">
            <button class="btn btn-primary" style="margin-top:100px" ng-hide="loggedIn" data-toggle="modal" data-target="#showRegistration">
                Register
            </button>
        </div>
        -->
        <div class="row">
            <div class="obox">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-2" ng-hide="loggedIn">
                        <div class="sbox" data-toggle="modal" data-target="#showRegistration">
                            <p><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></p>
                            Create account
                        </div>
                    </div>
                    <a href="/browse">
                        <div class="col-lg-2">
                            <div class="sbox">
                                <p><i class="fa fa-search fa-2x" aria-hidden="true"></i></p>
                                Browse requests
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-offset-4 col-lg-4" ng-show="loggedIn">
                        <div class="sbox">
                            <p><i class="fa fa-search fa-3x" aria-hidden="true"></i></p>
                            Browse requests
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>