<div ng-controller="RegistrationCtrl">
    <div class="full-screen-box full-screen-box-bg">
        <iframe id="introVideo" src="https://www.youtube.com/embed/QKQ1i60eOsE" frameborder="0" allowfullscreen></iframe>
        <!--
        <div class="obox">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sbox">
                        <p><i class="fa fa-CHECK fa-3x" aria-hidden="true"></i></p>
                        Register
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sbox">
                        <p><i class="fa fa-LUPE fa-3x" aria-hidden="true"></i></p>
                        New in Town?
                    </div>
                </div>
            </div>
         -->
        </div>
    </div>
    </div>
</div>