<lm-header text="Edit profile" img="images/d.jpg"></lm-header>
<div class="part-screen-box">
    <div class="lm-content lm-content-90" ng-controller="EditProfileCtrl">
        <div id="accordionContainer">
            <form name="editForm" ng-submit="updateUser()">
                <div id="accordion">
                    <h3>Personal details</h3>
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-7 col-md-8 col-sm-9">
                                <div class="row">
                                    <div class="col-sm-3 req-input-label">
                                        First Name:
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group"
                                             ng-class="{'has-error': !editForm.firstName.$valid && !editForm.firstName.$pristine}">
                                            <input type="text" class="form-control" ng-model="user.firstName"
                                                   name="firstName"
                                                   placeholder="Insert first name" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 req-input-label">
                                        Last Name:
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group "
                                             ng-class="{'has-error': !editForm.lastName.$valid && !editForm.lastName.$pristine}">
                                            <input type="text" class="form-control" ng-model="user.lastName"
                                                   name="lastName"
                                                   placeholder="Insert last name" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12 req-input-label">
                                        Street/Nr:
                                    </div>
                                    <div class="col-md-7 col-sm-6 col-xs-9">
                                        <div class="form-group " ng-class="{'has-error': errorText}">
                                            <input type="text" class="form-control" ng-model="user.street"
                                                   placeholder="Insert street" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-3">
                                        <div class="form-group " ng-class="{'has-error': errorText}">
                                            <input type="text" class="form-control" ng-model="user.number"
                                                   placeholder="Nr."/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12 req-input-label">
                                        Town/Zip:
                                    </div>
                                    <div class="col-md-6 col-sm-5 col-xs-8">
                                        <div class="form-group " ng-class="{'has-error': errorText}">
                                            <input type="text" class="form-control" ng-model="user.town"
                                                   placeholder="Insert town" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <div class="form-group " ng-class="{'has-error': errorText}">
                                            <input type="text" class="form-control" ng-model="user.zipCode"
                                                   placeholder="Zip" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 req-input-label">
                                        Telephone:
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group " ng-class="{'has-error': errorText}"
                                             style="margin-bottom: 0px;">
                                            <input type="text" class="form-control" ng-model="user.telephone"
                                                   placeholder="Insert telephone" style="margin-bottom:15px;" required/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngf-drop="pictureUpdated = true" class="col-lg-5 col-md-4 col-sm-3"
                                 ng-model="user.picture"
                                 ngf-drag-over-class="'imageDragover'" ngf-multiple="false">
                                <div class="row" id="userPic">
                                    <div class="col-xs-offset-4 col-xs-4 pic" style="border: 1px solid #999;"
                                         ng-hide="user.picture">
                                    </div>
                                    <div ng-show="user.picture" class="col-sm-12">
                                        <div class="thumbnail" ng-show="!pictureUpdated && user.picture">
                                            <img ng-model="user.picture"
                                                 ng-src="data:{{user.picture.contentType}};base64,{{user.picture.data}}">
                                        </div>
                                        <div class="thumbnail" ng-show="pictureUpdated && user.picture">
                                            <img ngf-thumbnail="user.picture" id="userPicture">
                                        </div>
                                        <div class="row hidden-lg hidden-md" ng-show="user.picture">
                                            <div class="col-sm-12">
                                                <button class="btn btn-default" ng-click="user.picture = null"
                                                        type="button"
                                                        style="margin: 15px auto 0px auto; display:inherit;">
                                                    Remove
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" ng-hide="user.picture">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-primary" ngf-select="pictureUpdated = true"
                                                ng-model="user.picture"
                                                ngf-multiple="false"
                                                style="display: block; margin: 15px auto 0px auto;">Upload Image
                                        </button>
                                    </div>
                                </div>
                                <div class="row" ng-show="user.picture">
                                    <div class="col-md-6 col-sm-12">
                                        <button type="button" class="btn btn-primary" ngf-select="pictureUpdated = true" ng-model="user.picture"
                                                ngf-multiple="false"
                                                style="display: block; margin: 15px auto 0px auto;">Upload Image
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-default hidden-xs hidden-sm" ng-click="user.picture = null" type="button"
                                                style="margin: 15px auto 0px auto; display:inherit;"
                                                ng-show="user.picture">
                                            Remove
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h3>Car details</h3>
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2">
                                Trunk size:
                            </div>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="radio" style="margin: 0px;">
                                            <label><input type="radio" name="sizeRadio"
                                                          ng-model="user.trunkSize" value="S">S</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="radio" style="margin: 0px;">
                                            <label><input type="radio" name="sizeRadio"
                                                          ng-model="user.trunkSize" value="M">M</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="radio" style="margin: 0px;">
                                            <label><input type="radio" name="sizeRadio"
                                                          ng-model="user.trunkSize" value="L">L</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="radio" style="margin: 0px;">
                                            <label><input type="radio" name="sizeRadio"
                                                          ng-model="user.trunkSize" value="XL">XL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <h3>Periodic journeys</h3>
                    <div>
                        <p>
                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                            Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                            ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                            lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                        </p>
                        <ul>
                            <li>List item one</li>
                            <li>List item two</li>
                            <li>List item three</li>
                        </ul>
                    </div>
                    -->
                    <h3>Payment information</h3>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-2 req-input-label">
                                IBAN:
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group "
                                     ng-class="{'has-error': !editForm.iban.$valid && !editForm.iban.$pristine}">
                                    <input type="text" class="form-control" placeholder="Insert IBAN"
                                           name="iban" ng-minlength="22" ng-maxlength="22"
                                           ng-pattern="/^[A-Z][A-Z][0-9]+$/" ng-model="user.iban"
                                           uib-popover="{{(editForm.iban.$invalid && editForm.iban.$pristine) || (editForm.iban.$valid) ? '' : 'IBAN consists of 22 characters: 2 capital letters and 20 digits.'}}"
                                           popover-placement="bottom" popover-trigger="focus"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 req-input-label">
                                BIC:
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group "
                                     ng-class="{'has-error': !editForm.bic.$valid && !editForm.bic.$pristine}"
                                     style="margin-bottom:0px;">
                                    <input type="text" class="form-control" placeholder="Insert BIC"
                                           name="bic" ng-minlength="8" ng-maxlength="11" ng-model="user.bic"
                                           ng-pattern="/^[a-zA-Z]{4}[a-zA-Z]{2}[a-zA-Z0-9]{2}([a-zA-Z0-9]{3})+$/"
                                           uib-popover="{{(editForm.bic.$invalid && editForm.bic.$pristine) || (editForm.bic.$valid) ? '' : 'BIC consists of 08 or 11 capital letters.'}}"
                                           popover-placement="top" popover-trigger="focus"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Change password</h3>
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-2 req-input-label">
                                Password:
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group "
                                     ng-class="{'has-error': !editForm.pwd.$valid && !editForm.pwd.$pristine}">
                                    <input type="password" name="password_fake" id="password_fake" value=""
                                           style="display:none;"/>
                                    <input type="password" class="form-control" name="pwd" ng-model="pswd1"
                                           uib-popover="{{(editForm.pwd.$invalid && editForm.pwd.$pristine) || (editForm.pwd.$valid) ? '' : 'Please enter a password.'}}"
                                           popover-placement="top" popover-trigger="focus" placeholder="Password"/>
                                    <!--
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          ng-show="editForm.pwd.$invalid && !editForm.pwd.$pristine"></span>
                                    <span class="glyphicon glyphicon-ok form-control-feedback"
                                          style="color:green" ng-show="editForm.pwd.$valid"></span>
                                          -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 req-input-label">
                                Confirm password:
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group "
                                     ng-class="{'has-error': !editForm.pwdConfirm.$valid && !editForm.pwdConfirm.$pristine}"
                                     style="margin-bottom:0px;">
                                    <input type="password" name="passwordConfirm_fake" id="passwordConfirm_fake"
                                           value="" style="display:none;"/>
                                    <input type="password" class="form-control" name="pwdConfirm" ng-model="pswd2"
                                           uib-popover="{{(editForm.pwdConfirm.$invalid && editForm.pwdConfirm.$pristine) || (editForm.pwdConfirm.$valid) ? '' : 'Must match the previous entry.'}}"
                                           popover-placement="top" compare-to="pswd1"
                                           popover-trigger="focus" placeholder="Repeat password"
                                           />
                                    <!--
                                    <span class="glyphicon glyphicon-remove form-control-feedback"
                                          ng-show="editForm.pwdConfirm.$invalid && !editForm.pwdConfirm.$pristine"></span>
                                    <span class="glyphicon glyphicon-ok form-control-feedback" style="color:green"
                                          ng-show="editForm.pwdConfirm.$valid"></span>
                                          -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2" style="padding-left:0px; margin-top:15px;">
                        <a href="/">
                            <button type="button" class="btn btn-danger" ng-click="" style="width:45%;">Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-primary right" style="width:45%;"
                                ng-disabled="editForm.$invalid || (editForm.iban.$invalid && editForm.bic.$invalid)">
                            Save
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2" style="padding-left:0px; margin-top:15px;">
                        <button type="button" class="btn btn-primary right" style="width:100%;"
                                data-toggle="modal" data-target="#showDetails">View profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="showDetails" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{user.firstName}} {{user.lastName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 10px 0px 0px 0px;">
                            <div class="col-lg-9">
                                <p>
                                    {{user.street}} {{user.number}} <br>
                                    {{user.zipCode}} {{user.town}}
                                </p>
                                <p>
                                    Telephone: {{user.telephone}}
                                </p>
                                <p>
                                    Trunk size: {{user.trunkSize}}
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <div class="pic2 userdetailpic" style="border: 1px solid #999;" ng-hide="user.picture">
                                </div>
                                <div class="pic2" ng-show="!pictureUpdated && user.picture">
                                    <img ng-model="user.picture" class="userdetailpic"
                                         ng-src="data:{{user.picture.contentType}};base64,{{user.picture.data}}">
                                </div>
                                <div class="pic2 " ng-show="pictureUpdated && user.picture">
                                    <img class="userdetailpic" ngf-thumbnail="user.picture" id="userPicturePreview">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px 0px 0px; border: 1px solid #999; padding: 15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="tabHead">
                                        Ratings
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <table style="margin: 15px 0px 0px 0px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="col-xs-12">
                                                    <div id="rateYoProfile" style="margin: 0 auto 15px auto;"></div>
                                                </div>
                                            </td>
                                            <td>
                                                {{averageRating}} ({{totalRating}} ratings)
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <div id="#starBarchart">
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="rating in ratingArray" class="rating">
                                <div>
                                    {{rating.stars}}<i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true" ng-show="rating.stars >1"></i>
                                    <i class="fa fa-star-o" aria-hidden="true" ng-show="rating.stars >2"></i>
                                    <i class="fa fa-star-o" aria-hidden="true" ng-show="rating.stars >3"></i>
                                    <i class="fa fa-star-o" aria-hidden="true" ng-show="rating.stars >4"></i>
                                    as a {{rating.userType}}
                                </div>
                                <div>
                                    {{rating.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>