<lm-header text="Edit profile" img="images/d.jpg"></lm-header>
<div class="part-screen-box">
    <div class="lm-content lm-content-90" ng-controller="EditProfileCtrl">
        <div style="height: 60vh; overflow-y: auto; overflow-x: hidden; padding: 0px 20px 0px 20px;">
            <div id="accordion">
                <h3>Personal details</h3>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div class="row">
                                <div class="col-sm-3 req-input-label">
                                    First Name:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.firstName" placeholder="Insert first name"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 req-input-label">
                                    Last Name:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.lastName" placeholder="Insert last name"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-xs-12 req-input-label">
                                    Street/Nr:
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.street" placeholder="Insert street"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.number" placeholder="Nr."
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-xs-12 req-input-label">
                                    Town/Zip:
                                </div>
                                <div class="col-md-6 col-sm-5 col-xs-8">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.town" placeholder="Insert town"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                        <input type="text" class="form-control" ng-model="user.zipCode" placeholder="Zip"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 req-input-label">
                                    Telephone:
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group has-feedback" ng-class="{'has-error': errorText}"
                                         style="margin-bottom: 0px;">
                                        <input type="text" class="form-control" ng-model="user.telephone" placeholder="Insert telephone"
                                               style="opacity:0.9" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-3">
                            <div class="row" style="margin-top:20px;">
                                <div class="col-xs-offset-4 col-xs-4 pic" style="border: 1px solid #999;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" ng-click="uploadImage()"
                                            style="display: block; margin: 15px auto 0px auto;">Upload Image</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Car details</h3>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-2">
                            Trunk size:
                        </div>
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="radio" style="margin: 0px;">
                                        <label><input type="radio" name="sizeRadio"
                                                      ng-model="user.trunkSize" value="S">S</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="radio" style="margin: 0px;">
                                        <label><input type="radio" name="sizeRadio"
                                                      ng-model="user.trunkSize" value="M">M</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="radio" style="margin: 0px;">
                                        <label><input type="radio" name="sizeRadio"
                                                      ng-model="user.trunkSize" value="L">L</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="radio" style="margin: 0px;">
                                        <label><input type="radio" name="sizeRadio"
                                                      ng-model="user.trunkSize" value="XL">XL</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Periodic journeys</h3>
                <div>
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                <h3>Payment information</h3>
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-2">
                                IBAN:
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                    <input type="text" class="form-control" ng-model="iban" placeholder="Insert IBAN"
                                           style="opacity:0.9" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                BIC:
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group has-feedback" ng-class="{'has-error': errorText}"
                                     style="margin-bottom:0px;">
                                    <input type="text" class="form-control" ng-model="bic" placeholder="Insert BIC"
                                           style="opacity:0.9" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                <h3>Change password</h3>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-2">
                            Password:
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                <input type="text" class="form-control" ng-model="pswd1" placeholder="Password"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            Confirm password:
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback" ng-class="{'has-error': errorText}"
                                 style="margin-bottom:0px;">
                                <input type="text" class="form-control" ng-model="pswd2" placeholder="Password"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-10 col-lg-2" style="padding-left:0px; margin-top:15px;">
                    <a href="/">
                        <button type="button" class="btn btn-danger" ng-click="" style="width:45%;">Cancel</button>
                    </a>
                    <button type="button" class="btn btn-primary right" style="width:45%;" ng-click="updateUser()">Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-10 col-lg-2" style="padding-left:0px; margin-top:15px;">
                    <button type="button" class="btn btn-primary right" style="width:100%;"
                            data-toggle="modal" data-target="#showDetails">View profile</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showDetails" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{user.firstName}} {{user.lastName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin: 10px 0px 0px 0px;">
                            <div class="col-lg-9">
                                <p>
                                    {{user.street}} {{user.number}} <br>
                                    {{user.zipCode}} {{user.town}}
                                </p>
                                <p>
                                    Telephone: {{user.telephone}}
                                </p>
                                <p>
                                    Trunk size: {{user.trunkSize}}
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <div class="pic2" style="border: 1px solid #999;">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 10px 0px 0px 0px; border: 1px solid #999; padding: 15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="tabHead">
                                        Ratings
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <table style="margin: 15px 0px 0px 0px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </td>
                                            <td>
                                                4.5 / 5
                                            </td>
                                            <td>
                                                3 Ratings
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-6">
                                    <div id="#starBarchart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>