<lm-header text="My requests" img="images/d.jpg"></lm-header>
<div class="part-screen-box">
    <div class="lm-content lm-content-90" ng-controller="MyReqCtrl">
        <div class="row myReq pos">
            <div class="col-lg-10">
                <span class="requestHeader">
                    Football
                </span>
                <table>
                    <tr>
                        <td class="tf">
                            From:
                        </td>
                        <td>
                            80333 Munich, Arcisstraße 21
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            To:
                        </td>
                        <td>
                            01187 Dresden, Nürnberger Straße 10
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Earliest pickup:
                        </td>
                        <td>
                            16.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Latest dropoff:
                        </td>
                        <td>
                            24.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Size:
                        </td>
                        <td>
                            S
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Price:
                        </td>
                        <td>
                            10,00 €
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2">
                <div class="btn-group" uib-dropdown is-open="status.isopen1" style="width:100%">
                    <button id="single-button" type="button" class="btn btn-blanc" uib-dropdown-toggle
                            style="width:100%;">
                        Menu <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Write message</a></li>
                        <li role="menuitem"><a href="#">Deliverer's profile</a></li>
                        <li role="menuitem"><a href="#">Mark as delivered</a></li>
                        <li role="menuitem"><a href="#">Rate deliverer</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Cancel request</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row myReq neg notFirst">
            <div class="col-lg-10">
                <span class="requestHeader">
                    Chair
                </span>
                <table>
                    <tr>
                        <td class="tf">
                            From:
                        </td>
                        <td>
                            70182 Stuttgart, Katharinenstraße 5
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            To:
                        </td>
                        <td>
                            86153 Augsburg, Zobelstraße 24
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Earliest pickup:
                        </td>
                        <td>
                            20.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Latest dropoff:
                        </td>
                        <td>
                            28.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Size:
                        </td>
                        <td>
                            L
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Price:
                        </td>
                        <td>
                            25,00 €
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2">
                <div class="btn-group" uib-dropdown is-open="status.isopen2" style="width:100%">
                    <button id="single-button" type="button" class="btn btn-blanc" uib-dropdown-toggle
                            style="width:100%; ">
                        Menu <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Edit request</a></li>
                        <li role="menuitem"><a href="#">Cancel request</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row myReq neutr notFirst">
            <div class="col-lg-10">
                <span class="requestHeader">
                    Plant
                </span>
                <table>
                    <tr>
                        <td class="tf">
                            From:
                        </td>
                        <td>
                            04105 Leipzig, Roscherstraße 14
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            To:
                        </td>
                        <td>
                            34177 Kassel, Kölnische Straße 77
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Earliest pickup:
                        </td>
                        <td>
                            17.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Latest dropoff:
                        </td>
                        <td>
                            19.12.2016
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Size:
                        </td>
                        <td>
                            XL
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Price:
                        </td>
                        <td>
                            30,00 €
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2">
                <div class="btn-group" uib-dropdown is-open="status.isopen3" style="width:100%">
                    <button id="single-button" type="button" class="btn btn-blanc" uib-dropdown-toggle
                            style="width:100%; ">
                        Menu <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Write message</a></li>
                        <li role="menuitem"><a href="#">Rate deliverer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>