<lm-header text="My requests" img="images/d.jpg"></lm-header>
<div class="part-screen-box">
    <div class="lm-content lm-content-90" ng-controller="MyReqCtrl">
        <div style="height: 60vh; overflow-y: auto; overflow-x: hidden; padding: 0px 20px 0px 20px;">
            <h2 class="col-log-12" ng-hide="hasRequests">{{createReqText}}</h2>
            <div class="row reqSmall {{request.status}}" ng-repeat="request in requests">
                <div class="col-lg-10">
                    <span class="requestHeader">
                        {{request.name}}
                    </span>
                    <table>
                        <tr>
                            <td class="tf">
                                From:
                            </td>
                            <td class="tf">
                                {{request.pickUpLocation}}
                            </td>
                            <td class="tf">
                                Earliest pickup:
                            </td>
                            <td class="tf">
                                {{request.pickUpTime | date : fullDate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="tf">
                                To:
                            </td>
                            <td class="tf">
                                {{request.deliverToLocation}}
                            </td>
                            <td class="tf">
                                Latest dropoff:
                            </td>
                            <td class="tf">
                                {{request.deliverTime | date : fullDate}}
                            </td>
                        </tr>
                        <tr>
                            <td class="tf">
                                Size:
                            </td>
                            <td class="tf">
                                {{request.size}}
                            </td>
                            <td class="tf">
                                Price:
                            </td>
                            <td class="tf">
                                {{request.price}}
                            </td>
                        </tr>
                        <tr>
                            <td class="tf">
                                Description:
                            </td>
                            <td>
                               {{request.description}}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="col-lg-2 reqStatusMenu">
                     <span>
                        {{request.status}}
                    </span>
                    <div class="btn-group" uib-dropdown dropdown-append-to-body style="width:100%">
                        <button type="button" class="btn btn-blanc" uib-dropdown-toggle
                                style="width:100%;">
                            Menu <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem"><a ng-show="request.status=='Accepted'">Confirm delivery</a></li>
                            <!-- Accepted-->
                            <li class="divider" ng-show="request.status=='Accepted'"></li>
                            <li role="menuitem"><a
                                    ng-show="request.status=='Accepted' || request.status=='Confirmed'">Write
                                message</a></li><!-- Accepted Confirmed-->
                            <li role="menuitem"><a
                                    ng-show="request.status=='Accepted' || request.status=='Confirmed'">Deliverer's
                                profile</a></li><!-- Accepted Confirmed-->
                            <li role="menuitem"><a ng-show="request.status=='Confirmed'">Rate deliverer</a></li>
                            <!-- Confirmed-->
                            <li role="menuitem"><a ng-show="request.status=='Open' || request.status=='Expired'" ng-click="editRequest(request)">Edit
                                request</a></li><!-- Open Expired-->
                            <li class="divider" ng-show="request.status=='Accepted' || request.status=='Open'"></li>
                            <li role="menuitem"><a ng-show="request.status=='Accepted' || request.status=='Open'  || request.status=='Expired'">Cancel
                                request</a></li><!-- Open Accepted-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>