<lm-header text="Edit request" img="images/d.jpg"></lm-header>
<div class="part-screen-box">
    <div class="lm-content lm-content-90" ng-controller="EditRequestCtrl">
        <form class="row">
            <div class="col-lg-6" style="height: 100%; overflow-y: auto; overflow-x: hidden;">
                <div id="crRequest">
                    <div class="row requin">
                        <div class="col-lg-3">
                            Item:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group " ng-class="{'has-error': errorText}">
                                <input type="text" class="form-control" ng-model="request.name"
                                       placeholder="Insert item name"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row requin" style="height: 50px;">
                        <div class="col-lg-3">
                            Required space:
                        </div>
                        <div class="col-lg-9">
                            <!--<select class="form-control btn btn-primary dropdown-toggle" data-ng-options="o.id as o.name for o in sizes" ng-model="size"></select> -->

                            <div class="btn-group" uib-dropdown style="width:100%">
                                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle
                                        style="width:100%; color: #999;"> Choose size: {{request.size}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem"><a ng-click="request.size = 'S'">S (30cm x 30cm x 15cm)</a></li>
                                    <li role="menuitem"><a ng-click="request.size = 'M'">M (60cm x 30cm x 15cm)</a></li>
                                    <li role="menuitem"><a ng-click="request.size = 'L'">L (120cm x 60cm x 60cm)</a>
                                    </li>
                                    <li role="menuitem"><a ng-click="request.size = 'XL'">XL</a></li>
                                </ul>
                            </div>
                            <!--<form name="sizePicker">
                                <select name="singleSelect" ng-model="size">
                                    <option value="S" ng-selected="true">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>1
                                </select>
                            </form>
                            -->
                        </div>
                    </div>
                    <div class="row requin">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group " ng-class="{'has-error': errorText}">
                                <input id="pickupLocationEdit" type="text" class="form-control"
                                       ng-model="request.pickUpLocation"
                                       placeholder="Insert start"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row requin">
                        <div class="col-lg-3">
                            To:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group " ng-class="{'has-error': errorText}">
                                <input id="deliverToLocationEdit" type="text" class="form-control"
                                       ng-model="request.deliverToLocation"
                                       placeholder="Insert destination"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row requin">
                        <div class="col-lg-3">
                            Earliest pickup:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group">
                                <input uib-datepicker-popup="dd.MM.yyyy" popup-placement="bottom" type="text"
                                       class="form-control" ng-model="request.pickUpTime"
                                       placeholder="Insert earliest pickup"
                                       style="opacity:0.9" required ng-click="openDatepickerFrom()"
                                       is-open="isOpenFrom" show-button-bar="false"
                                       datepicker-options="dateOptions"/>
                            </div>
                        </div>
                    </div>
                    <div class="row requin">
                        <div class="col-lg-3">
                            Latest dropoff:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group">
                                <input uib-datepicker-popup="dd.MM.yyyy" popup-placement="bottom" type="text"
                                       class="form-control" ng-model="request.deliverTime"
                                       placeholder="Insert latest dropoff"
                                       style="opacity:0.9" required ng-click="openDatepickerTo()"
                                       is-open="isOpenTo" show-button-bar="false" datepicker-options="dateOptions"/>
                            </div>
                        </div>
                    </div>
                    <div class="row flex-items-lg-middle">
                        <div class="col-lg-3">
                            Price offer:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group " ng-class="{'has-error': errorText}">
                                <input type="text" class="form-control" ng-model="request.price"
                                       placeholder="Insert price offer"
                                       style="opacity:0.9" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row requin">
                        <div class="col-lg-3">
                            Description:
                        </div>
                        <div class="col-lg-9">
                            <div class="form-group " ng-class="{'has-error': errorText}">
                                <textarea class="form-control" rows="2" class="form-control"
                                          ng-model="request.description"
                                          placeholder="You can enter a description" style="opacity:0.9"/>
                            </div>
                        </div>
                    </div>
                    <div ngf-drop="pictureUpdated = true" class="row requin drop-box" ng-model="request.picture"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false">
                        <div class="col-md-3 col-xs-4 req-input-label" id=picButton">
                            <button type="button" class="btn btn-primary" ngf-select="pictureUpdated = true" ng-model="request.picture"
                                    ngf-multiple="false">Upload Image
                            </button>
                        </div>
                        <div class="col-md-9 col-xs-8">
                            <div ng-model="request.picture">
                                <div class="thumbnail" ng-show="pictureUpdated && request.picture">
                                    <img ngf-thumbnail="request.picture">
                                </div>
                                <div class="thumbnail" ng-show="!pictureUpdated && request.picture">
                                    <img ng-model="request.picture"
                                         ng-src="data:{{request.picture.contentType}};base64,{{request.picture.data}}">
                                </div>
                                <button ng-show="request.picture" ng-click="request.picture = null; pictureUpdated = true;">
                                    Remove
                                </button>
                            </div>
                            <div ng-hide="request.picture" class="col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 pic"
                                 style="border: 1px solid #999;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="createMap">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2" style="padding-left:0px; margin-top:15px;">

                <button ng-click="cancelEdit()" type="button" class="btn btn-danger" style="width:45%;">Cancel</button>

                <button ng-click="updateRequest()" class="btn btn-primary right" style="width:45%;">Update</button>
            </div>
        </div>
    </div>
</div>