<div id="showDetails">
    <div class="modal-header">
        <i class="glyphicon glyphicon-new-window" id="requestersGlyph" title="Requester's profile"
            ng-click="openProfileDetails(selectedRequest.requester)"></i>
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{selectedRequest.name}}</h4>
    </div>
    <div class="modal-body" style="min-height: 600px;">
        <div class="row detailsFirst" id="detailsFirst">
            <div class="visible-xs-block ">
                <!--<img src="./images/football.jpg">-->
                <img class="requestDetailPic" ng-model="selectedRequest.picture" ng-show="showDetailPicture === true"
                     ng-src="data:{{selectedRequest.picture.contentType}};base64,{{selectedRequest.picture.data}}"/>
            </div>
            <div class="col-xs-9">
                <table>
                    <tr>
                        <td class="tf">
                            From:
                        </td>
                        <td>
                            {{selectedRequest.pickUpLocation}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            To:
                        </td>
                        <td>
                            {{selectedRequest.deliverToLocation}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Earliest pickup:
                        </td>
                        <td>
                            {{selectedRequest.pickUpTime | date : fullDate}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Latest dropoff:
                        </td>
                        <td>
                            {{selectedRequest.deliverTime | date : fullDate}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Size:
                        </td>
                        <td>
                            {{selectedRequest.size}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Price:
                        </td>
                        <td>
                            {{selectedRequest.price}}€
                        </td>
                    </tr>
                    <tr>
                        <td class="tf">
                            Description:
                        </td>
                        <td>
                            {{selectedRequest.description}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-3 hidden-xs">
                <!--<img src="./images/football.jpg">-->
                <img class="requestDetailPic" ng-model="selectedRequest.picture" ng-show="showDetailPicture === true"
                     ng-src="data:{{selectedRequest.picture.contentType}};base64,{{selectedRequest.picture.data}}"/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div id="modalMap">
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <!-- Chatbox -->
                    <div ng-include="'./components/browseRequests/chat/chatbox.html'"></div>
                </div>

                <div id="haggleDiv" ng-show="showHaggle">
                    <form ng-submit="sendHaggle()">
                        <div class="row">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" ng-model="form.hagglePrice" style="display:inline-block;"
                                       placeholder="Enter your price proposal" id="hagglePriceInput">
                                <button type="submit" ng-class="{disabled: form.hagglePrice == ''}"
                                        class="btn btn-default chat-button" ng-click="showHaggle = false"
                                        style="margin-top:-4px; padding-left: 10px;">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                                <button type="dismiss" class="btn btn-default chat-button"
                                        ng-click="showHaggle = false"
                                        style="margin-top:-4px; margin-left: 2px; padding-left: 10px;">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" ng-hide="showHaggle" style="margin-top: 10px;">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary accept" ng-disabled="thisUser == selectedRequest.requester"  ng-hide="reqAlreadyAccepted()"
                                ng-click="accept()">Accept
                        </button>
                        <button type="button" class="btn btn-primary accept" disabled ng-show="reqAlreadyAccepted()"
                               >Accept pending...
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary accept" ng-disabled="thisUser == selectedRequest.requester" ng-hide="reqAlreadyHaggled()"
                                ng-click="showHaggle = true;">Haggle
                        </button>
                        <button type="button" class="btn btn-primary accept" disabled ng-show="reqAlreadyHaggled()"
                               >{{alreadyHaggledPrice}} € pending
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>