<lm-header text="Browse requests" img="images/d.jpg"></lm-header>
<div class="part-screen-box" ng-controller="BrowseCtrl">
    <div class="lm-content lm-content-90">
        <!--
        <div class="row topline">
                Browse through requests
        </div>
        -->
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-5">
                <div id="browsemap">
                </div>
            </div>
            <div id="browseContent" class="col-lg-5 col-md-6 col-sm-7" style="height: 60vh;">
                <div ng-hide="filterShowed">
                    <div class="row" id="brRequests"
                         style="height: 55vh; overflow-y: auto; margin-left: 0px; margin-right: 0px;">
                        <div class="row requestContainer" ng-repeat="request in (filteredRequests = (requests | filter:{deliverToLocation:filterDeliverToLocation}
                        | filter:{pickUpLocation:filterPickUpLocation} | filter:filterPrice()|myfilterTo: filterDeliverTime
                        | myfilterFrom: filterPickUpTime |bysize:sizefilters))">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-9">
                                <span class="requestHeader">
                                    {{request.name}}
                                </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-9">
                                    <table>
                                        <tr>
                                            <td class="tf">
                                                From:
                                            </td>
                                            <td>
                                                {{request.pickUpLocation}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tf">
                                                To:
                                            </td>
                                            <td>
                                                {{request.deliverToLocation}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tf">
                                                Earliest pickup:
                                            </td>
                                            <td>
                                                {{request.pickUpTime | date : fullDate}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tf">
                                                Latest dropoff:
                                            </td>
                                            <td>
                                                {{request.deliverTime | date : fullDate}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tf">
                                                Size:
                                            </td>
                                            <td>
                                                {{request.size}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tf">
                                                Price:
                                            </td>
                                            <td>
                                                {{request.price}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-3">
                                    <img ng-model="request.picture"
                                         ng-src="data:{{request.picture.contentType}};base64,{{request.picture.data}}"/>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-default right" data-toggle="modal"
                                        data-target="#showDetails" ng-click="selectRequest(request)">
                                    View details
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <button type="button" class="btn btn-primary bottomR" ng-click="filterShowed = true"
                                style="width:100px; right:15px;">
                            Filter
                        </button>
                    </div>
                </div>
                <div id="filterDiv" ng-show="filterShowed" style="overflow-y:auto; overflow-x:hidden">
                    <form name="filterForm" ng-submit="applyFilter()">
                        <div class="col-sm-12">
                            <div class="row requin">
                                <p>From:</p>
                                <div class="form-group" ng-class="{'has-error': errorText}">
                                    <input type="text" class="form-control" ng-model="filterPickUpLocation"
                                           placeholder="Insert start"
                                           style="opacity:0.9"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row requin">
                                <p>To:</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="filterDeliverToLocation"
                                           placeholder="Insert destination"
                                           style="opacity:0.9"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row requin" ng-class="{'has-error': filterDeliverTime < filterPickUpTime}">
                                <p>Earliest pickup: </p>
                                <div class="form-group">
                                    <input uib-datepicker-popup="dd.MM.yyyy" popup-placement="bottom" type="text"
                                           class="form-control" ng-model="filterPickUpTime"
                                           placeholder="Insert earliest pickup"
                                           style="opacity:0.9" ng-click="openDatepickerFrom()"
                                           is-open="isOpenFrom" show-button-bar="true"
                                           datepicker-options="dateOptions"
                                           uib-popover="{{filterDeliverTime < filterPickUpTime ?
                                           'The earliest pickup filter date needs to be sooner than the latest dropoff filter date.' : ''}}"
                                           popover-placement="top" popover-trigger="focus"/>
                                </div>
                                <!--

                                $scope.filterDeliverTime && $scope.filterPickUpTime && moment($scope.filterDeliverTime) < moment($scope.filterPickUpTime)) {
                    alert("The earliest pickup filter date needs to be sooner than the latest dropoff filter date");

                                <div class="input-group date">
                                    <input datepicker type="text" class="form-control" id="datePickup">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th" id="showPickup"></i>
                                    </span>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row requin" ng-class="{'has-error': filterDeliverTime < filterPickUpTime}">
                                <p>Latest dropoff: </p>
                                <div class="form-group">
                                    <input uib-datepicker-popup="dd.MM.yyyy" popup-placement="bottom" type="text"
                                           class="form-control" ng-model="filterDeliverTime"
                                           placeholder="Insert latest dropoff"
                                           style="opacity:0.9" ng-click="openDatepickerTo()"
                                           is-open="isOpenTo" show-button-bar="true"
                                           datepicker-options="dateOptions"
                                           uib-popover="{{filterDeliverTime < filterPickUpTime ?
                                           'The earliest pickup filter date needs to be sooner than the latest dropoff filter date.' : ''}}"
                                           popover-placement="top" popover-trigger="focus"/>
                                </div>
                                <!--
                                <div class="input-group date">
                                    <input datepicker type="text" class="form-control" id="dateDropoff">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th" id="showDropoff"></i>
                                    </span>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row requin radio">
                                <div class="row">
                                    <div class="col-xs-3">
                                        Size:
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="sizefilters.S">S</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="sizefilters.M">M</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-offset-3 col-xs-3">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="sizefilters.L">L</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="sizefilters.XL">XL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row requin" ng-class="{'has-error': lowPrice > highPrice}">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3">
                                        Price:
                                    </div>
                                    <div class="col-sm-4 col-xs-9">
                                        <div class="input-group" class="form-control"
                                             style="margin-bottom: 15px;">
                                            <span class="input-group-addon">€</span>
                                            <input type="number" class="form-control" ng-model="lowPrice"
                                                   uib-popover="{{lowPrice > highPrice ? 'The right price has to be higher or equal than the left price.' : ''}}"
                                                   popover-placement="top" popover-trigger="focus"
                                                   placeholder="10" name="lowPrice"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-0 col-sm-1 col-xs-offset-3 col-xs-9">
                                        <center>
                                            -
                                        </center>
                                    </div>
                                    <div class="col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">€</span>
                                            <input type="number" class="form-control" ng-model="highPrice"
                                                   uib-popover="{{lowPrice > highPrice ? 'The right price has to be higher or equal than the left price.' : ''}}"
                                                   popover-placement="top" popover-trigger="focus"
                                                   placeholder="10" name="highPrice"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default right filter"
                                        ng-disabled="(filterDeliverTime < filterPickUpTime) || (lowPrice > highPrice)"
                                        uib-popover="{{errorText}}">
                                    Apply filter
                                </button>
                                <button type="button" class="btn btn-danger right filter leftone"
                                        ng-click="clearInput()">Reset filter
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="showDetails" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{selectedRequest.name}}</h4>
                </div>
                <div class="modal-body" style="min-height: 600px;">
                    <div class="row detailsFirst" id="detailsFirst">
                        <div class="col-xs-9">
                            <table>
                                <tr>
                                    <td class="tf">
                                        From:
                                    </td>
                                    <td>
                                        {{selectedRequest.pickUpLocation}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tf">
                                        To:
                                    </td>
                                    <td>
                                        {{selectedRequest.deliverToLocation}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tf">
                                        Earliest pickup:
                                    </td>
                                    <td>
                                        {{selectedRequest.pickUpTime | date : fullDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tf">
                                        Latest dropoff:
                                    </td>
                                    <td>
                                        {{selectedRequest.deliverTime | date : fullDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tf">
                                        Size:
                                    </td>
                                    <td>
                                        {{selectedRequest.size}}
                                    </td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td class="tf">-->
                                        <!--Price:-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{selectedRequest.price}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td class="tf">
                                        Description:
                                    </td>
                                    <td>
                                        {{selectedRequest.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-3">
                            <!--<img src="./images/football.jpg">-->
                            <img ng-model="selectedRequest.picture" ng-show="showDetailPicture === true"
                                 ng-src="data:{{selectedRequest.picture.contentType}};base64,{{selectedRequest.picture.data}}"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="modalMap">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!--<span class="tabHead">-->
                            <!--Comments-->
                            <!--</span>-->
                            <!--<div id="tableDiv">-->
                            <!--<table class="tabTable">-->
                            <!--<tbody>-->

                            <!--<tr>-->
                            <!--<td style="width: 65px; font-weight:bold;">-->
                            <!--Daniel:-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--Lorem ipsum!-->
                            <!--</td>-->
                            <!--</tr>-->

                            <!--</tbody>-->
                            <!--</table>-->
                            <!--</div>-->

                            <!--<div class="row" style="margin-top: 15px;">-->
                            <!--<div class="col-xs-3 input-label">-->
                            <!--Comment:-->
                            <!--</div>-->
                            <!--<div class="col-xs-9">-->
                            <!--<div class="form-group">-->
                            <!--<input class="form-control" placeholder="Input" style="opacity:0.9">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div>
                                <!-- Chatbox -->
                                <div ng-include="'./components/browseRequests/chat/chatbox.html'"></div>
                            </div>

                            <form ng-submit="sendHaggle()">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" ng-model="form.hagglePrice"
                                               placeholder="Enter your wished price">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit" ng-class="{disabled: form.hagglePrice == ''}"
                                                class="btn btn-default accept">
                                            Offer!
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <!--<div class = "row">-->
                            <!--<div class="col-xs-12">-->
                            <!--<button type="button" class="btn btn-primary accept" data-dismiss="modal"-->
                            <!--ng-click="goToRequestDetail()">-->
                            <!--More details-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!---->

                            <div class="row">
                                <div class="col-xs-12">
                                    Price:
                                    {{selectedRequest.price}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-primary accept" data-dismiss="modal"
                                            ng-click="accept()">Accept
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>




