<script>
    $(function(){
        $("#datePickup").datepicker();
    });
    $(function(){
        $("#dateDropoff").datepicker();
    });

    $('#showPickup').click(function ()
    {
        $('#datePickup').datepicker("show");
    });
    $('#showDropoff').click(function ()
    {
        $('#dateDropoff').datepicker("show");
    });
</script>

<div ng-controller="BrowseCtrl">
    <div class="cwf-content cwf-content-90">
        <div class="row">
            <span class="topline">
                Browse through requests
            </span>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div id="browsemap">

                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-12">
                    <div class="row requin">
                        From:
                        <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                            <input type="text" class="form-control" ng-model="fromCity" placeholder="Insert start"
                                   style="opacity:0.9" required/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row requin">
                        From:
                        <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                            <input type="text" class="form-control" ng-model="toCity" placeholder="Insert destination"
                                   style="opacity:0.9" required/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row date">
                        Earliest pickup:
                        <div class="input-group date">
                            <input type="text" class="form-control" id="datePickup">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th" id="showPickup"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row date">
                        Earliest dropoff:
                        <div class="input-group date">
                            <input type="text" class="form-control" id="dateDropoff">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th" id="showDropoff"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row requin">
                        Size:
                        <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                            <input type="text" class="form-control" ng-model="endTime" placeholder="datepicker"
                                   style="opacity:0.9" required/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row requin">
                        <div class="col-lg-3">
                            Prize:
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                <input type="text" class="form-control" ng-model="lowPrice" placeholder="0 €"
                                       style="opacity:0.9"/>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <center>
                                -
                            </center>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group has-feedback" ng-class="{'has-error': errorText}">
                                <input type="text" class="form-control" ng-model="highPrice" placeholder="100 €"
                                       style="opacity:0.9"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default right filter" ng-click="applyFilter()">
                            <!--ng-disabled="logIn.$invalid" uib-popover="{{errorText}}"
                            popover-placement="bottom" popover-trigger="click"
                            -->Apply filter
                        </button>
                        <button type="button" class="btn btn-danger right filter leftone" ng-click="clearInput()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>