<!doctype html>
<html ng-app="lastMile" ng-class="animation">
<head>
    <title>FullTrunk</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- I changed the API key to activate the Google Places API Web Service and the Google Maps JavaScript API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw90YgKDe-aGZ9qmz5Af4b5DYKtxmKwxo&libraries=places"></script>
    <!-- moment lib to compare dates -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

</head>
<body ng-controller="UserCtrl as user">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="nav navbar-brand" href="/">FullTrunk</a>
                <a href="/browse" class="nav navbar-brand hidden-xs">
                    Browse requests
                </a>
                <a href="/create" class="nav navbar-brand hidden-xs" ng-show="loggedIn">
                    Create request
                </a>


                <button class="navbar-right btn btn-primary btn-right navbar-btn" ng-hide="loggedIn" data-toggle="modal"
                        data-target="#showLogin" style="float: right;">
                    Login
                </button>
                <!--
                <button class="navbar-right btn btn-primary btn-right navbar-btn" ng-show="loggedIn" ng-click="logout()"
                        style="float: right;">
                    Logout
                </button>
                -->

                <div class="btn-group navbar-right" uib-dropdown dropdown-append-to-body style="float: right;"
                     ng-show="loggedIn" id="navbar-right-btn" >
                    <button type="button" class="btn btn-primary navbar-btn" uib-dropdown-toggle
                            style="width:100%;">
                        Menu <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                        <li class="visible-xs-block" role="menuitem">
                            <a href="/create">
                                Create request
                            </a>
                        </li>
                        <li class="visible-xs-block" role="menuitem">
                            <a href="/browse">
                                Browse requests
                            </a>
                        </li>
                        <li class="visible-xs-block divider"></li>
                        <li role="menuitem">
                            <a href="/myReq">
                                My requests
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="/myDel">
                                My deliveries
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="/editPro">
                                My profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li role="menuitem">
                            <a href="#" ng-click="logout()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group navbar-right" uib-dropdown dropdown-append-to-body style="float: right;" ng-show="loggedIn">
                    <button type="button" class="btn btn-default navbar-btn notificationButton" uib-dropdown-toggle ng-click="toggleNotifications()"
                            ng-disabled="notifications.length == 0" aria-label="Left Align" id="notificationBtn">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                        <span class="hidden-xs">Notifications</span>
                        <span class="badge">{{notifications.length}}</span>
                    </button>
                    <!--
                    <button type="button" class="btn btn-primary navbar-btn" uib-dropdown-toggle ng-disabled="notifications.length == 0"
                            style="width:100%;">
                        Notifications <span class="caret"></span>
                    </button> -->
                    <!--
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" >
                        <li role="menuitem" ng-repeat="notification in notifications">
                            <a ng-hide="notification.notificationType !== 'NewAccept'" href="/myReq">
                                Your request "{{notification.requestName}}" was accepted by "{{notification.userFirstName}} {{notification.userLastName}}"!
                            </a>
                            <a ng-hide="notification.notificationType !== 'NewCancel'" href="/myReq">
                                The delivery for your request "{{notification.requestName}}" was canceled by "{{notification.userFirstName}} {{notification.userLastName}}"!
                            </a>
                            <a ng-hide="notification.notificationType !== 'NewHaggle'" href="/myReq">
                                You have a new haggle offer for your request "{{notification.requestName}}" from "{{notification.userFirstName}} {{notification.userLastName}}"!
                            </a>
                            <a ng-hide="notification.notificationType !== 'NewDelivery'" href="/myReq">
                                "{{notification.userFirstName}} {{notification.userLastName}}" confirmed, that the request "{{notification.requestName}}" was delivered successfully!
                            </a>
                            <a ng-hide="notification.notificationType !== 'NewMessage'" href="/myReq">
                                You have a new message for your request "{{notification.requestName}}" from "{{notification.userFirstName}} {{notification.userLastName}}"!
                            </a>
                        </li>
                    </ul>
                    -->
                </div>
                <!--
                <ul class="nav navbar-nav navbar-right" ng-show="loggedIn" style="float: right;">
                    <li ng-repeat="route in mainRoutes" ng-class="{active: isCurrent(route)}">
                        <a href="#{{route.originalPath}}">{{route.name}}</a>
                    </li>
                    <li class="dropdown" ng-repeat="(name, subroutes) in nestedRoutes">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{name}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="route in subroutes" ng-class="{active: isCurrent(route)}">
                                <a href="#{{route.originalPath}}">{{route.name}}</a>
                            </li>
                            <li>
                                <a href="#/" ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </nav>
    <div class="modal fade" id="showLogin" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="logIn" ng-submit="login()" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" ng-class="{'has-error': !logIn.email.$valid && !logIn.email.$pristine}">
                                    <input type="email" class="form-control" ng-model="user.email"
                                           placeholder="Email address" name="email" id="email"
                                           uib-popover="{{(logIn.email.$invalid && logIn.email.$pristine) || (logIn.email.$valid) ? '' : 'Please enter your email address.'}}"
                                           popover-placement="top" popover-trigger="focus" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" ng-class="{'has-error': !logIn.pwd.$valid && !logIn.pwd.$pristine}" >
                                    <input type="password" class="form-control" id="password" name="pwd" ng-model="user.password"
                                           uib-popover="{{(logIn.pwd.$invalid && logIn.pwd.$pristine) ? '' : 'Please enter your password.'}}"
                                           popover-placement="top"
                                           popover-trigger="focus" autocomplete="new-password"
                                           placeholder="Password" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="logIn.$invalid"
                                uib-popover="{{errorText}}"
                                popover-placement="bottom" popover-trigger="click">Login
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div id="notificationContainer" class="inNotificationContainer" ng-show="notificationsShown">
        <span class="pointer inNotificationContainer"><span></span></span>
        <div id="notificationTopline" class="inNotificationContainer">
            Notifications
            <span class="glyphicon glyphicon-ok" style="float: right; margin: 3px 5px 0px 0px;"
                title="Mark all as read" ng-click="removeAllNotifications()"></span>
        </div>
        <div id="notifications" class="inNotificationContainer">
            <ul>
                <li ng-repeat="notification in notifications" class="inNotificationContainer">
                    <div class="singleNotification inNotificationContainer">
                        <a ng-hide="notification.notificationType !== 'NewAccept'" href="/myDel">

                            <span class="notivHighlight ">
                            "{{notification.userFirstName}} {{notification.userLastName}}"
                            </span> confirmed your offer for the request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span>!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewDecline'">

                            <span class="notivHighlight ">
                            "{{notification.userFirstName}} {{notification.userLastName}}"
                            </span> declined your offer for the request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span>!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewCancel'" href="/myReq">
                            The delivery for your request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span> was canceled by
                            <span class="notivHighlight ">"{{notification.userFirstName}} {{notification.userLastName}}"
                            </span>!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewHaggle'" href="/myReq">
                            You have a new haggle offer for your request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span> from
                            <span class="notivHighlight ">"{{notification.userFirstName}} {{notification.userLastName}}"
                            </span>!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewAcceptOffer'" href="/myReq">
                            You have a new acceptance offer for your request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span> from
                            <span class="notivHighlight ">"{{notification.userFirstName}} {{notification.userLastName}}"
                            </span>!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewDelivery'" href="/myReq">
                            <span class="notivHighlight ">
                                "{{notification.userFirstName}} {{notification.userLastName}}"
                            </span> confirmed, that the request
                            <span class="notivHighlight ">"{{notification.requestName}}"
                            </span> was delivered successfully!
                        </a>
                        <a ng-hide="notification.notificationType !== 'NewMessage'" href="/myReq">
                            You have a new message for your request
                            <span class="notivHighlight ">
                                "{{notification.requestName}}"
                            </span> from
                            <span class="notivHighlight "> "{{notification.userFirstName}} {{notification.userLastName}}"
                            </span>!
                        </a>
                    </div>
                    <span class="glyphicon glyphicon-remove inNotificationContainer" style="float: right; margin: 3px 15px 0px 0px;"
                          title="Mark as read" ng-click="removeNotification(notification)"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid main" ng-view class="view">

    </div>
<footer>

    <p>FAQ | About us | Contact | Terms and Conditions | Privacy</p>
    <p>&copy 2017 &middot; last-mile.com</p>
</footer>
</body>
</html>